.title {
    color: black;
    font-size: 70px;
    background-color: rgb(255, 207, 214);
    text-align: center;
    font-family: cursive, fantasy, monospace;
}

.main-list {
    background-color: rgb(255, 235, 235);
    width: 300px;
    margin-top: -20px;
    padding: 8px 40px;
}

.recipe-one,
.recipe-two,
.recipe-three {
    font-size: 20px;
    font-weight: 700;
    font-family: cursive, Courier, monospace;
}

.recipe-one {
    background-color: rgb(255, 207, 214);
    padding: 2px;
    margin-bottom: 5px;
}

.recipe-two {
    background-color: rgb(255, 207, 214);
    padding: 2px;
    margin-bottom: 5px;
}

.recipe-three {
    background-color: rgb(255, 207, 214);
    padding: 2px;
}

.heading {
    color: black;
    font-size: 26px;
    font-weight: 900;
    font-family: cursive, 'Courier New', Courier, monospace;
}

.paragraph {
    font-size: 15px;
    font-weight:100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ingredient,
.step {
    font-size: 15px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
    height: auto; width: 300;
}